.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.App-header >   h1, h2, h3 {
  margin: 0px;
}

.App-link {
  color: #61dafb;
}


main {
  display: flex;
  justify-content: center;
}

.flexBoxContainer {
  display: flex;
}
